name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "**"

jobs:
  ci-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup SSH
        env: 
          LYRA_V2_SSH: ${{secrets.V2_CORE}}
        run: mkdir $HOME/.ssh && echo "$LYRA_V2_SSH" > $HOME/.ssh/id_rsa && chmod 600 $HOME/.ssh/id_rsa

      - name: Install Submodules
        run: git submodule update --init --recursive
  
      - name: Install Foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly
      
      # - name: Check snapshot
      #   run: forge snapshot --check

      - name: Check format
        run: forge fmt --check
      
      - name: Run tests
        run: forge test -vvv

      - name: Run Coverage
        run: forge coverage --report lcov
      
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          # re generate when github go public
          token: 3e3c7dca-9ac1-4b0b-82d2-5191a10064b7
          directory: .
          env_vars: OS,PYTHON
          fail_ci_if_error: true
          files: ./lcov.info
          name: lyra-v2
          verbose: true